*{
    margin:0;
    font-family: 'Rock Salt', cursive;
    padding:0;
    box-sizing: border-box;
}
h1{
    line-height:1.3em;
    font-size:2rem;
}
.container{
    text-align:center;
    width: 100%;
}
.container_main{
    width:85%;
    max-width:850px;
    margin:0 auto;

}

.header a {
    color:white;
    text-decoration:none;
}

.header{
    z-index: 1;
    padding:20px 0;
    background:black;
    color:white;
    position:fixed;
    left:0;
    top:0;
    width:100%;
}

.logo-nav-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;

}
.menu-icon{

    display:none;
}

.navigation ul {

    margin:0;
    padding:0;
    list-style:none;
}

.navigation ul li {

    display:inline-block;
}

.navigation ul li a {
    font-size:18px;
    display:block;
    padding:0.5rem 1rem;
}

.navigation ul li a:hover{
    color:#ee5d62;

}

.main{
    padding-top:3rem;
}

.main-imagen{
    width:100%;
    height:100vh;
    background-image: url('images/main_foto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;



}
.main-title{
    color:white;
    font-size:40px;
    text-align:center;
    padding:10px;
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
}
/*.main-title{
    padding-top:500px;
    display:flex;
    text-align: center;
    justify-content:center;
    color:white;
    font-size:80px;


}*/

.burger_principal{
    position:absolute;
    width: 100%;
    height:100%;
}

.comentarios-container{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-top:14px;
    background-color:black;
    display:flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content:space-around;
    align-content: space-between;
   
}

.comentarios i{
    color:white;
    font-size:30px;
}

.comentarios p{
    color:white;
}

.comentarios{
    display:flex;
    gap:20px;
}

.flex-container{
    padding-top:20px;
    justify-content:center;
    display:flex;
    flex-wrap: wrap;
    padding:10px;
    border:2px solid black;
    background-color: black;
}

.titulo{
    padding-top:30px;
    text-align:center;
    background-color:black;
    color:white;
}

.burger{
    
    border-radius: 5px;
    color:white;
    background-color:black;

    width: 400px;
    margin:10px;
    text-align:center;
    border:2px solid white;
}

.burger h3{

    margin:20px 0px;

}

.img-brg{    
    height: 250px;
    margin:0px 1px;
}

.img-brg img{
    width: 100%;
    height: 100%;
}

.text{
    height: 150px;
    padding:20px;
}


.botonera{
    margin-bottom: 15px;
}
.compra{
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    margin:10px 0px;
    border:2px solid white;
    color:white;
    border-radius: 5px;
    background:none;
}
.compra:hover{
 border:2px solid #ee5d62;
 color:#ee5d62;
}

.footer{
    margin-top:6rem;
    background:#f2f2f2;
    padding: 4rem 0;
    text-align: center;
}



@media only screen and (max-width:806px){

   
   .logo img{
       width:90px;
   }
    .menu-icon{
        color:white;
        display:block;
        cursor:pointer;

    }

    .navigation{
        width:100%;
        margin-top:1rem;
        text-align: right;

    }

    .navigation ul {

        display:none;

    }

    .navigation ul.show{
        display:flex;
        flex-direction:column;
       

    }

    .navigation ul li {
    
        display:inline-block;
    }

    .navigation ul li a {
        font-size:25px;
        display:block;
        padding:1rem 1rem;
    }
    
    .navigation ul li a:hover{
        color:#ee5d62;
    
    }

}
